:root {
  --pri-col: #0a3e6a;
  --sec-col: #1d70b7;
  --light-col: #eeeeee;
  --dark-col: #333333;

  --dark-bg: #121212;
  --dark-text: #e0e0e0;
  --dark-navbar: #1f1f1f;
  --dark-navlink: #b0b0b0;
  --dark-hover: #ffffff;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
  text-align: center;
}

a {
  /* color: inherit; */
  text-decoration: none;
}

body.dark-mode {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

body.dark-mode .navbar {
  background-color: var(--dark-navbar) !important;
}

body.dark-mode .nav-menu .nav-link {
  color: var(--dark-navlink);
}

body.dark-mode .nav-link:hover {
  color: var(--dark-hover);
}

/* Apply Quicksand font to all headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
}

h1,
h2 {
  font-weight: 600;
}

h1,
h3 {
  color: var(--pri-col);
}

h2,
h4,
h5,
h6 {
  color: var(--sec-col);
}

h1 {
  /* font-size: 36px; */
  font-size: calc(36px + 0.2vw);
  margin-top: 0;
}

h2 {
  /* font-size: 30px; */
  font-size: calc(24px + 0.2vw);
}

h3 {
  /* font-size: 24px; */
  font-size: calc(16px + 0.2vw);
}

h4,
button {
  /* font-size: 18px; */
  font-size: calc(12px + 0.2vw);
}

/* Navbar Styling */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 0;
}

.nav-menu-container {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 0 2vw;
}

.nav-menu-left-container {
  justify-content: flex-end;
}

.nav-menu-right-container {
  justify-content: flex-start;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-logo {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 15vh;
  /* z-index: 99999; */
}

.menu-item {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  padding: 0 6px;
}

.menu-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--pri-col);
  transition: all 0.3s;
}

.menu-item a:hover {
  color: var(--sec-col);
}

/* Transparent navbar for front page */
.navbar-transparent {
  background-image: linear-gradient(var(--light-col), transparent);
  transition: background-color 1.5s;
}

/* Solid navbar for all pages */
.navbar-solid {
  background-color: #ffffff;
}

/* Solid navbar on scroll */
.navbar-solid-scrolled {
  background-color: #ffffff !important;
}

/* Dropdown Menu Styling */
.nav-menu li {
  position: relative;
}

.nav-menu li ul {
  display: block;
  position: absolute;
  top: 100%;
  left: -50%;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200%;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s; /* Add transitions */
}

.nav-menu li ul li {
  text-transform: none;
  padding: 10px 4px;
}

.nav-menu li ul li a {
  padding: 10px;
}

.nav-menu li:hover ul {
  opacity: 1;
}

/* Mobile Menu Toggle Styling */
.mobile-menu-toggle {
  display: none;
  cursor: pointer;
  width: 5vh;
  height: 5vh;
}

.mobile-menu-toggle path {
  fill: var(--pri-col);
}

/* Mobile Menu Styling */
.mobile-menu {
  display: none;
  width: 100%;
}

.mobile-nav-menu {
  display: none;
  padding: 0;
  margin: 0;
}

.mobile-nav-menu li {
  padding: 10px;
  font-size: 24px;
  position: relative;
}

.mobile-nav-menu li .submenu-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.mobile-nav-menu li ul {
  display: none;
  list-style: none;
  padding: 0;
}

.mobile-nav-menu li ul li {
  text-transform: none;
  padding: 10px;
  font-size: 20px;
}

@media (max-width: 1024px) {
  .nav-menu {
    display: none;
  }
  .mobile-menu-toggle,
  .mobile-menu,
  .mobile-nav-menu {
    display: block;
  }
  .nav-menu-left-container {
    justify-content: flex-start;
    padding: 0 0 0 4vw;
  }
}

/* HERO SECTION */

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eeeeeeaa;
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  box-sizing: border-box;
  padding: 0px 20px;
  margin: auto;
  max-width: 800px;
}

.text-line {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 0.5;
}

.hero-button-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .hero-button-row {
    flex-direction: column;
    /* gap: 6px; */
  }
}
.divider {
  display: flex;
  width: 100%;
  height: 15vh;
  position: absolute;
  /* z-index: 10000; */
  bottom: 0%;
}

.divider-primary {
  fill: #0a3e6a;
}

.divider-secondary {
  fill: #1d70b7;
}
.divider-light {
  fill: #a6bfd1;
}
.divider polygon {
  filter: drop-shadow(rgba(0, 0, 0, 0.5) 0 0 5px);
}

.grid-container {
  display: grid;
  gap: 0;
}

@media screen and (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(
      3,
      1fr
    ) !important; /* 1x4 layout for desktop */
  }
}

@media screen and (max-width: 1023px) {
  .grid-container {
    grid-template-columns: repeat(
      2,
      1fr
    ) !important; /* 2x2 layout for tablets and smaller screens */
  }
}

@media screen and (max-width: 768px) {
  /* hide the description!! */
  .grid-item .description {
    display: none;
  }
  .grid-item .title h2 {
    text-align: center;
  }
}

.grid-item,
.wp-block-cover {
  position: relative !important;
  overflow: hidden !important;
  width: 100% !important;
  aspect-ratio: 16/9 !important;
}

.grid-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.grid-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Change the overlay color and opacity here */
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.grid-item:hover .overlay {
  opacity: 1;
}

.grid-item .content {
  /* position: absolute; */
  /* top: 0%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: #fff;
  z-index: 1;
  padding: 10%;
}

.grid-item .title {
  z-index: inherit;
  /* margin-bottom: 10px; */
}

.grid-item .title h2 {
  color: white;
  margin: 0;
  text-align: start;
}

.grid-item .description {
  text-align: start;
  z-index: inherit;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

/* All Page Descriptions */

.home-description-container,
.full-width-header .header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home-description-container {
  background-color: var(--sec-col);
}

.home-description,
.header-content {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  padding: 5vh 20px;
  margin: auto;
  max-width: 600px;
  font-size: larger;
  width: 100%;
  color: white;
  /* height: 100%; */
}

/* Page Header */

.page-container {
  /* This is the logo height + the nav bar's padding */
  padding-top: 17vh;
}

.page-content {
  max-width: 800px;
  padding: 0 20px;
  margin: auto;
}

.full-width-header {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.full-width-header .image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.full-width-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.full-width-header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8; /* Fixed opacity for transparency */
}

.full-width-header .header-content h1 {
  color: white;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin-top: 0;
}

.footer {
  background-color: var(--pri-col);
  color: white;
  padding: 20px 0;
}

.footer-menu {
  display: flex;
  justify-content: center;
}

.footer-menu-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu-items li {
  display: inline-block;
  margin: 0 10px;
}

.footer-menu-items li a {
  color: white;
}

.footer-menu-items li ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.footer-menu-items li ul a {
  font-weight: 200;
}

.logos {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.logos img {
  height: 40px;
}

.copyright {
  /* margin-top: 20px; */
}
