:root {
  --pri-col: #0a3e6a;
  --sec-col: #1d70b7;
  --light-col: #eeeeee;
  --dark-col: #333333;

  --dark-bg: #121212;
  --dark-text: #e0e0e0;
  --dark-navbar: #1f1f1f;
  --dark-navlink: #b0b0b0;
  --dark-hover: #ffffff;
}

body.dark-mode {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

body.dark-mode .navbar {
  background-color: var(--dark-navbar) !important;
}

body.dark-mode .navbar-nav .nav-link {
  color: var(--dark-navlink);
}

body.dark-mode .nav-link:hover {
  color: var(--dark-hover);
}

/* Apply Quicksand font to all headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand", sans-serif;
}

/* Apply Quicksand font to menu items */
.navbar-nav .nav-link, .navbar-toggler, #dark-mode-toggle {
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: var(--pri-col);
  transition: all 0.5s;
  text-align: center;
}

.nav-link:hover, .navbar-toggler:hover, #dark-mode-toggle:hover {
  color: var(--sec-col);
  transform: scale(1.1);
}

/* Transparent navbar for front page */
.navbar-transparent {
  background-color: transparent;
  transition: background-color 1.5s, height 1.5s ease;
}

/* Solid navbar for all pages */
.navbar-solid {
  background-color: #ffffff;
  transition: height 1.5s ease;
}

/* Solid navbar on scroll */
.navbar-solid-scrolled {
  background-color: #ffffff !important;
  height: 70px !important;
}

.logo {
  height: 120px; /* Initial height */
  transition: height 1.5s ease; /* Smooth transition */
}

@media (max-width: 992px) {
  .navbar-nav {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .logo {
    height: 100px; /* Adjusted height for mobile */
  }
}

/* HERO SECTION */

.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#eeeeeeb3 90%, var(--light-col));
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-down {
  position: absolute;
  top: 90%;
  fill: var(--pri-col);
  opacity: 50%;
  width: 8vh;
  height: 8vh;
  cursor: pointer;
}

.hero-content {
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
  margin: 0;
}

.hero-content p {
  font-size: 1.5rem;
  margin: 10px 0 0;
}

.tagline {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}

.text-line {
  display: block;
  opacity: 1;
  line-height: 0;
  transform-origin: center;
}
