/* Container for the scrolling area */
.elvanto-calendar-events {
  overflow-x: auto !important;
  padding: 20px !important;
  /* padding-top: 0 !important; */
  white-space: nowrap !important;
  position: relative !important; /* Needed for the gradient overlay */
}

/* Hide scrollbar in WebKit-based browsers */
.elvanto-calendar-events::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar in Firefox */
.elvanto-calendar-events {
  scrollbar-width: none !important;
}

/* Each card container */
.elvanto-calendar-events-ul {
  display: flex !important;
  padding: 0 !important;
  margin: 0 !important;
  list-style: none !important;
  gap: 20px !important;
}

.elvanto-calendar-events-ul li {
  flex: 0 0 calc((100% / 3) - 20px) !important; /* Default to 3 items per row */
  white-space: normal !important; /* Allow text to wrap */
}

@media (max-width: 1024px) {
  .elvanto-calendar-events-ul li {
    flex: 0 0 calc((100% / 2) - 20px) !important; /* 2 items per row on tablets */
  }
}

@media (max-width: 768px) {
  .elvanto-calendar-events-ul li {
    flex: 0 0 100% !important; /* 1 item per row on mobile */
  }
}

.elvanto-calendar-events-ul li a {
  border-radius: 20px !important;
  background-color: white !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5) !important;
  transition: all 0.3s;
  width: 100% !important;
  height: 100% !important;
  padding: 20px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  text-align: center !important;
  /* white-space: normal !important; Allow text to wrap */
}

.elvanto-calendar-events-ul li a:hover {
  background-color: var(--wp--preset--color--light) !important;
}

.elvanto-calendar-events-ul li a img {
  position: relative !important;
  left: 0% !important;
  top: 0% !important;
  height: 50px !important;
  width: auto !important;
  margin-bottom: 15px !important;
}

.elvanto-calendar-events-ul li a h4 {
  margin: 15px !important;
  /* white-space: normal !important; Allow text to wrap */
}

.elvanto-calendar-events-ul li a h5 {
  margin: 0;
  /* white-space: normal !important; Allow text to wrap */
}

.elvanto-calendar-events-title {
  font-size: unset !important;
}

.elvanto-modal-bg {
  position: fixed !important;
}

.elvanto-modal {
  position: fixed !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  max-width: none !important;
  width: 50vw !important;
}

@media (max-width: 1024px) {
  .elvanto-modal {
    width: 80vw !important;
  }
}

/* Center the text */
.elvanto-modal-header h3 {
  margin: 0 auto !important;
  padding: 16px 10% !important;
  text-align: center !important;
  white-space: normal !important; /* Allow text to wrap */
}

/* Style for the close button */
.elvanto-modal-close {
  top: 0 !important;
  right: 0 !important;
  height: 100% !important;
  aspect-ratio: 1 / 1 !important;
  background: none !important;
  border: none !important;
  font-size: 30px !important;
  cursor: pointer !important;
  color: inherit !important;
  padding: 0 !important;
  margin: 0 !important;
}