.wp-block-navigation {
  position: relative;
  --navigation-layout-justification-setting: flex-end;
  --navigation-layout-direction: row;
  --navigation-layout-wrap: wrap;
  --navigation-layout-justify: flex-end;
  --navigation-layout-align: center;
}

/* Adjust breakpoint for mobile menu */
@media ( min-width: 937px ) {
    .wp-block-navigation__responsive-container-open:not(.always-shown) {
      display: none !important;
    }
    .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
      display: block !important;
    }
}

/* Disable WP default breakpoints for navigation */
@media ( min-width: 600px ) {
    .wp-block-navigation__responsive-container-open:not(.always-shown) {
      display: flex;
    }
    .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
      display: none;
    }
}

/* Responsive navigation styles */
@media screen and (max-width: 936px) {

  /* Main container */
  .wp-block-navigation__responsive-container.has-modal-open.is-menu-open {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    overflow-y: auto;
  }

  /* Inner container div */
  .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation__responsive-container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    gap: 1rem;
    width: 100%;
  }

  /* Navigation container */
  .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation__container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
  }

  /* Navigation item container */
  .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation__container .wp-block-navigation-item {
    align-items: center;
    font-size: 1.25rem;
  }

  /* Submenu navigation container */
  .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation__container .wp-block-navigation-item.has-child {
    gap: 0.25rem;
  }

  .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation__container .wp-block-navigation-item.has-child .wp-block-navigation-submenu {
    padding: 0;
  }

  .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation__container .wp-block-navigation-item.has-child .wp-block-navigation-submenu li {
    font-size: 1rem;
  }

}