<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<div class="divider-wrapper">
  <svg class="divider layer-light" viewBox="0 0 1000 1000" preserveAspectRatio="none">
    <polygon points="1000,900 0,400 0,2000 1000,2000" />
  </svg>

  <svg class="divider layer-primary" viewBox="0 0 1000 1000" preserveAspectRatio="none">
    <polygon points="0,800 1000,250 1000,2000 0,2000" />
  </svg>

  <svg class="divider layer-secondary" viewBox="0 0 1000 1000" preserveAspectRatio="none">
    <polygon points="0,1000 1000,450 1000,2000 0,2000" />
  </svg>
</div>




<!-- wp:post-content /-->
 
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->