<!-- wp:template-part {"slug":"header"} /-->
<main class="content-padding">
    <!-- wp:group {"tagName":"main","layout":{"type":"constrained"}, "style":{"spacing":{"margin":{"top":"20vh"}}}} -->
    <div class="wp-block-group" style="margin-top:20vh;">
        <!-- wp:shortcode -->
        [series heading="h1"]
        <!-- /wp:shortcode -->
        
        <!-- wp:shortcode -->
        [sermon_archive]
        <!-- /wp:shortcode -->
    </div>
    <!-- /wp:group -->
</main>
<!-- wp:template-part {"slug":"footer"} -->